* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #b1d8e7;
  font-size: 20px;
  font-family: sans-serif;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  justify-content: space-evenly;
}

.filter-container {
  text-align: center;
}